@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --desaturatedDarkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightGrayishBlue);
}
section {
  width: 318px;
  height: 532px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}
section .hero {
  height: 40%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 35px 30px 10px 30px;
}
section h1 {
  color: var(--veryDarkGrayishBlue);
  font-size: 16px;
}
section .content .description {
  color: var(--desaturatedDarkBlue);
  line-height: 1.7;
  margin-bottom: 11px;
}
section .details {
  display: flex;
  height: 69px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}
section .details .media-icons {
  display: none;
}
section .details .author {
  display: flex;
  align-items: center;
  gap: 15px;
}
section .details .author img {
  border-radius: 50%;
  height: 41px;
}
section .details .author .name-date h3 {
  color: var(--veryDarkGrayishBlue);
  font-size: 13px;
  margin-bottom: 3px;
}
section .details .author .name-date p {
  color: var(--desaturatedDarkBlue);
}
section .details .share-icon {
  background-color: var(--lightGrayishBlue);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .details .share-icon:hover {
  cursor: pointer;
  background-color: var(--veryDarkGrayishBlue);
}
section .share-icon:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(238deg)
    brightness(154%) contrast(104%);
}
section .modal {
  background-color: var(--veryDarkGrayishBlue);
  width: 258px;
  height: 69px;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  display: none;
}
section .modal .media-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}
section .modal .modal-share-icon {
  background-color: var(--desaturatedDarkBlue);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .modal .modal-share-icon:hover {
  cursor: pointer;
  background-color: var(--grayishBlue);
}
section .modal .modal-share-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(238deg)
    brightness(154%) contrast(104%);
}
section .active {
  display: flex;
}
section .modal h3 {
  display: initial;
  color: var(--grayishBlue);
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
section .modal img:hover {
  cursor: pointer;
}

@media (min-width: 810px) {
  section {
    width: 740px;
    height: 280px;
    display: flex;
  }
  section .hero {
    height: 100%;
    width: 38.5%;
    object-position: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
  }
  section .content {
    gap: 10px;
    padding: 30px 40px 10px 40px;
  }
  section .details {
    padding: 0 40px;
  }
  section h1 {
    font-size: 20px;
  }
  section .modal {
    width: 150px;
    height: 40px;
    justify-content: center;
    border-radius: 8px;
    margin-left: 294px;
    margin-top: -40px;
    z-index: 1;
  }
  section .modal .modal-share-icon {
    display: none;
  }
  section .modal h3 {
    font-size: 10px;
  }
  section .modal-arrow {
    height: 20px;
    width: 20px;
    background-color: var(--veryDarkGrayishBlue);
    position: absolute;
    margin-left: 390px;
    margin-top: -15px;
    transform: rotate(45deg);
    display: none;
  }
  section .active-arrow {
    display: initial;
  }
}
